<div class="header">
  <h1>Welcome {{name}}!</h1>
  <button class="loginBtn loginBtn--facebook" id="logout">
    <a href="/logout">Logout</a>
  </button>
</div>
<div class="content">
<iframe src="http://zg-catapp.herokuapp.com/" class="catAppIFrame" id="iframe1"></iframe> 
<iframe src="http://zg-catapp.herokuapp.com/" class="catAppIFrame" id="iframe2"></iframe> 
</div>